<?php
declare(strict_types = 1);
?>

<?php if ($this->pageCount): ?>
<nav aria-label="Page navigation">
    <ul class="pagination">
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
        <li>
            <a href="<?= $this->url($this->route, [], ['page' => $this->previous]) ?>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    <?php else: ?>
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    <?php endif ?>

    <!-- Numbered page links -->
    <?php foreach ($this->pagesInRange as $page): ?>
        <?php if ($page !== $this->current): ?>
            <li>
                <a href="<?= $this->url($this->route, [], ['page' => $page]) ?>">
                    <?= $page ?>
                </a>
            </li>
        <?php else: ?>
            <li class="active">
                <a href="#"><?= $page ?></a>
            </li>
        <?php endif ?>
    <?php endforeach ?>

    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
        <li>
            <a href="<?= $this->url($this->route, [], ['page' => $this->next]) ?>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    <?php else: ?>
        <li class="disabled" aria-label="Next">
            <a href="#">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    <?php endif ?>
    </ul>
</nav>
<?php endif ?>
