<?php

declare(strict_types = 1);

use Album\Model\Entity\AlbumEntity;

$this->headTitle('Albums'); ?>

<div class="jumbotron">
    <h1>Album list</h1>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Artist</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <?php /** @var AlbumEntity $albumEntity */ ?>
    <?php foreach ($this->paginator as $albumEntity) : ?>
        <?php
        $urlParams = ['id' => $albumEntity->getId()];
        $updateUrl = $this->url('album-update', $urlParams);
        $deleteUrl = $this->url('album-delete', $urlParams);
        ?>
        <tr>
            <td><?= $albumEntity->getId() ?></td>
            <td><?= $albumEntity->getArtist() ?></td>
            <td><?= $albumEntity->getTitle() ?></td>
            <td>
                <a href="<?=$updateUrl ?>" class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="<?=$deleteUrl ?>" class="btn btn-success">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>

<?= $this->paginationControl(
    // The paginator object:
    $this->paginator,
    // The scrolling style:
    'sliding',
    // The partial to use to render the control:
    'partial::pagination',
    // The route to link to when a user clicks a control link:
    ['route' => 'album']
); ?>

<p>
    <a href="<?= $this->url('album-create') ?>" class="btn btn-success">
        Create new album
    </a>
</p>
